# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

# Unity build folders
/[Bb]uild/
/[Bb]uilds/

# Visual Studio files
/*.sln
/*.suo
/*.csproj
/*.user
/*.userprefs
/*.pidb
/*.booproj

# macOS files
.DS_Store

# Other files and folders to ignore
/Assets/AssetStoreTools*
/Assets/GoogleMobileAds*
/Assets/GooglePlayPlugins*
/Assets/Photon Unity Networking*

# Unity meta files
*.meta

# Unity crash report files
*.crash
# Log
*.log